services:
  backend:
    build:
      context: ./dotnet-core-api
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection=${DB_CONNECTION_STRING}
      - JwtSettings__Secret=${JWT_SECRET}
    ports:
      - "5000:5000"
    restart: always

  frontend:
    build:
      context: ./angular-poc
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
